name: Run Unit Tests

on:
  push:
    branches: ['main']

  workflow_dispatch:

permissions:
  contents: read
  checks: write

jobs:
  test:
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
      - name: Setup Repository
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: 'v2.x'

      - name: Run Tests
        run: deno task test

      - name: Generate jUnit Report
        uses: mikepenz/action-junit-report@v3.8.0
        with:
          report_paths: 'reports/report.xml'
